* {
  margin: 0;
  padding: 0;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.item-container {
  padding: 22px;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.social {
  background-color: #fffff1;
}

.environmental {
  background-color: #f5ffee;
}

.governance {
  background-color: #f2f7ff;
}

.social-circle {
  background-color: #f2e888;
}

.environmental-circle {
  background-color: #9fd3a5;
}

.governance-circle {
  background-color: #88bff2;
}
